.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;

    .logo {
        width: 70px;
        height: 100%;
        padding: 15px;
    }

    .items {
        padding-right: 20px;
        width: 30%;
        height: 100%;
        font-size: 18px;
    }

}